<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>FIGHT GAME</title>
</head>
<script>
  let mainAudio = new Audio('music/ufctheme.mp3');
  mainAudio.play();
  mainAudio.volume = 0.05;
  mainAudio.currentTime = 51;
</script>

<body id="conor-background">

  <nav>
    <a href="/"><img id="ufc-logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/UFC_Logo.png/800px-UFC_Logo.png"></a>
    <a href="/fighters">FIGHTERS</a>
    <a href="/champions">CHAMPIONS</a>
    <a href="/event/new">CREATE EVENT</a>
    <a href="/store">STORE</a>
  </nav>
  <main>
    <section id="start-up">
      <img id="game-logo" src="images/game-logo.png">
      <a id="get-started-link" href="/fighters">
        <h1 id="get-started-link">Get Started</h1>
      </a>
    </section>
  </main>
</body>

</html>